/*TAG Styles*/
body{
	background-color: rgb(93, 95, 95);
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	/*background-image: url("../images/background.jpg");*/
}

div{

}
table{
	margin-left: auto; 
	margin-right: auto;
}
th{

}
td{

}
/*Class Styles*/
.header{
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;	
	border-radius: 15px;
	font-size: 200%;
	font-weight: bolder;
}
.navbar {
	overflow: hidden;
	background-color: rgb(65, 17, 17);
	border-radius: 4px;
	display: block;
}

.navbar_item{
	float: left;
	display: inline;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar_item:hover{
	background-color: #ddd;
	color: black;
	cursor: pointer;
}
.main_container{
	text-align: center;
	display: block;

	
}
.prompt{
	color: #e6e3c8;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
.field{
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}


.footer{
	display: block;
	background-color:#F1F1F1;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	display: block;
	margin-top: 10px;

	position: absolute;
	bottom: 0;
	width: 95%;
	 
}
.footer_item{
	display: inline;
}
.button{
	cursor: pointer;
	color:blue;
	margin:5px;
	background-color: rgb(194, 194, 194);
	border-radius: 5px;
	display: inline-block;
	padding: 5px;	
}
.button:hover{
		background-color: #ddd;
	color: black;
	cursor: pointer;
}
/* Tooltip text */
.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	top: -5px;
	left: 105%;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .td:hover .tooltiptext {
	visibility: visible;
  }
	.tooltiptext::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%; /* To the left of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
  }

.form_container{
	display: block;
	text-align: center;
}

/*ID styles*/
#active_monitors_label{
	font-size: 150%;
	font-weight: bolder;
	margin: 10px;
}


